@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  @apply h-full;
  @apply min-h-screen;
  @apply bg-white;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #58cc01;
    --color-secondary: #1cb0f6;
    --color-tertiary: #ce82ff;
    --color-success: #00cd9c;
    --color-premium: #3c4dfe;
    --color-bee: #ffc800;

    --shadow-primary-color: #429700;
    --shadow-secondary-color: #1792ca;
    --shadow-tertiary-color: #9b57c9;
    --shadow-success-color: #008a67;
    --shadow-premium-color: #2c3ad4;

    --color-primary-deep: #429700;
    --color-secondary-deep: #1792ca;
    --color-tertiary-deep: #9b57c9;
    --color-success-deep: #008a67;
    --color-premium-deep: #2c3ad4;
    --color-bee-deep: #dfae00;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

/* Auth page re-design */
.cl-internal-b3fm6y {
  @apply hidden;
}

.cl-internal-1fsg6zy {
  @apply bg-primary-default;
}

.cl-internal-1fsg6zy:hover {
  @apply bg-primary-shadow;
}

.cl-internal-15amzqo {
  @apply text-primary-default;
}

.cl-internal-15amzqo:hover {
  @apply text-primary-shadow;
}

.cl-internal-17ydaof {
  @apply shadow-none;
}

/* Animations */
.anim-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anim-fadeOut {
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 
  Active Lesson button start popup bounce animation 
  NOTE:  -translate-y-full & -translate-x-1/2 or (-50%) is already defined in tailwindcss, so careful on animation
*/

.anim-bounce {
  animation-name: anim-bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes anim-bounce {
  from,
  to {
    transform: translate(-50%, -100%);
  }

  50% {
    transform: translate(-50%, -110%);
  }

  90% {
    transform: translate(-50%, -90%);
  }
}

/* 
  NOTE: translate-y-[120%] -translate-x-1/2  is already defined in tailwindcss, so careful on animation
*/
.anim-pop {
  animation-name: anim-pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  transform-origin: top;
}

@keyframes anim-pop {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.premium-cta {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
  -webkit-text-fill-color: transparent;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      15px 0 #000,
      -15px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      15px 0 #000,
      -15px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      15px 0 #0002,
      -15px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      15px 0 #0002,
      -15px 0 #000;
    background: #000;
  }
}
