@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;
}

@layer base {
  :root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #58cc01;
    --color-secondary: #1cb0f6;
    --color-tertiary: #ce82ff;
    --color-success: #00cd9c;
    --color-premium: #3c4dfe;

    --shadow-primary-color: #429700;
    --shadow-secondary-color: #1792ca;
    --shadow-tertiary-color: #9b57c9;
    --shadow-success-color: #008a67;
    --shadow-premium-color: #2c3ad4;

    --color-primary-deep: #429700;
    --color-secondary-deep: #1792ca;
    --color-tertiary-deep: #9b57c9;
    --color-success-deep: #008a67;
    --color-premium-deep: #2c3ad4;
  }
}

/* Auth page re-design */
.cl-internal-b3fm6y {
  @apply hidden
}

.cl-internal-1fsg6zy {
  @apply bg-primary-default;
}

.cl-internal-1fsg6zy:hover {
  @apply bg-primary-shadow;
}

.cl-internal-15amzqo {
  @apply text-primary-default;
}

.cl-internal-15amzqo:hover {
  @apply text-primary-shadow;
}

.cl-internal-17ydaof {
  @apply shadow-none;
}
